<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
        <style>
            *{
                text-align: center;
                font-size: large;
            }
        </style>
    </head>
    <body>
        <h1>Login Page</h1>
        <form action="/submit" method="post">
            <label for="uname">Username:</label><br>
            <input type="text" id="uname" name="uname" required><br><br>
            <label for="age">Age:</label><br>
            <input type="number" id="age" name="age" required><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>